/*  GERAL */
:root {
    --background: #FAFAFA;
    --white: #FFF;

    --gray-100: #E1E1E6;
    --gray-300: #C4C4CC;
    --gray-400: #8D8D99;
    --gray-500: #7C7C8A;
    --gray-600: #323238;
    --gray-700: #29292E;
    --gray-800: #202024;
    --gray-900: #121214;

    --blue-100: #CDDDE8;
    --blue-200: #e0f2fe;
    --blue-300: #93c5fd;
    --blue-500: #0ea5e9;
    --blue-700: #0369a1;
    --blue-900: #0c4a6e;

    --green-700: #28a745;

    --red-700: #dc3545;

    --yellow-500: #FBA94C;
    
    --orange-700: #e78230;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: var(--background);
    color: var(--gray-900);
    height: 100vh;
    position: relative;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 400px;
    background-color: var(--blue-900);
    border-radius: 8px;
}

.modal-container p {
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--white);
}

.modal-container input,
.modal-container button {
    border-radius: 4px;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
}

.modal-container button {
    cursor: pointer;
    background-color: var(--blue-100);
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-container button:hover {
    background-color: var(--blue-200);
}

.hide {
    display: none !important;
}

.main-title {
    padding: 40px 0;
    color: #FAFAFA;
    text-align: center;
    background-color: var(--blue-900);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.quizz-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.quizz-header div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--blue-200);
    padding: .5rem 1.5rem;
    color: var(--gray-900);
    border-radius: 8px;
}

.quizz-header-timer {
    font-size: 2.5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4rem;
}

/*  SCORE CONTAINER */

#score-container {
    background-color: var(--blue-100);
    color: #000;
    text-align: center;
    width: 300px;
    padding: 25px;
    border-radius: 20px;
}

#score-container p {
    font-size: 14px;
    margin: 20px 0;
}

#score-container #display-score {
    font-size: 32px;
    font-weight: bold;
}

#correct-answers {
    font-weight: bold;
    color: #40b576;
}

#questions-qty {
    font-weight: bold;
    color: #075ea4;
}

#restart {
    background-color: var(--orange-700);
    color: #fff;
    font-weight: bold;
    height: 50px;
    border-radius: 25px;
    border: 2px solid transparent;
    width: 180px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}

#restart:hover {
    background-color: transparent;
    border-color: var(--orange-700);
    color: var(--orange-700);
}

/* Quizz container  */

#quizz-container {
    width: 50%;
    border: 1px solid var(--blue-100);
    border-radius: 25px;
    overflow: hidden;
    padding: 2rem;
    background-color: #f0f9ff;
}

#question {
    font-size: 1.325rem;
    padding: 1rem;
}

#question-text {
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
}

#question-number {
    font-weight: bold;
}

.quizz-answers-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quizz-answers-container img {
    max-width: 300px;
    height: 100%;
}

#answers-box {
    flex-grow: 1;
}

#answers-box button{
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 100%;
    padding: 0.2rem;
    text-transform: capitalize;
    border-radius: 25px;
    background-color: var(--blue-100);
    border: 2px solid transparent;
    text-align: left;
    color: var(--gray-900);
    cursor: pointer;
    transition: .5s;
}

#answers-box button:hover {
    background-color: var(--orange-700);
    color: var(--white);
}

#answers-box .btn-letter {
    font-size: 30px;
    font-weight: bold;
    background-color: var(--orange-700);
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
    text-align:  center;
    text-transform: uppercase;
    flex: 1 1 0;
    max-width: 40px;
}

.question-answer {
    flex: 1 1 0;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Baloo 2', cursive;
}
                 
#quizz-container .wrong-answer,
#quizz-container .wrong-answer:hover,
#quizz-container .wrong-answer .btn-letter {
    background-color: var(--red-700);
    color: var(--white);
}

#quizz-container .correct-answer,
#quizz-container .correct-answer:hover,
#quizz-container .correct-answer .btn-letter {
    background-color: var(--green-700);
    color: #fff;
}

/*  RESPONSIVO */
@media(max-width: 450px) {

    #quizz-container {
        width: 100%;
        border: none;
    }

    #answers-box button {
        width: 100%;
    }

    #score-container {
        width: 90%;
    }
}